/* -- flows -- */

#flows-section {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}

#flows {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    padding-left: 0;
    height: 160px;
    overflow-y: scroll; /* TODO: proper slider */
    padding-bottom: 8px; /* for the scrollbar */
}

.flow {
    list-style-type: none;
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.3s ease;
}

.flow a {
    display: block;
    width: 200px;
    height: 100%;
}

.flow a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    position: relative;
    background-color: white;
    filter: brightness(0.6);
    transition: filter 0.3s ease;
}

.flow:hover a img {
    filter: brightness(0.4);
}

.flow a h3 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    height: fit-content;
    color: white;
    font-size: 16pt;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* -- gallery -- */

#gallery-section {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
}

#gallery-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#posts-sorting {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

#posts-sorting span {
    cursor: pointer;
    user-select: none;
}

#posts-sorting span.selected {
    color: var(--color-secondary);
    font-weight: bold;
}

#gallery-end {
    display: flex;
    flex-direction: column;
    color: var(--color-text-secondary);
    align-items: center;
    margin: 64px 0;
    user-select: none;
}

#gallery-end h3 {
    font-size: 16pt;
    margin: 0;
}

#gallery-end p {
    margin-top: 16px;
}

#gallery[data-current-page="0"] ~ #gallery-end,
#gallery:not(.all-content-fetched) ~ #gallery-end {
    display: none;
}

#empty-gallery {
    user-select: none;
    position: absolute;
    top: 256px;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 24px;
    color: var(--color-text-secondary);
}

#empty-gallery * {
    margin: 0;
}

#empty-gallery > svg {
    fill: var(--color-text-secondary);
    height: 128px;
    width: 128px;
}

#empty-gallery > h3 {
    font-size: 16pt;
}

#empty-gallery #upload-redirect {
}

body.no-posts #flows-section,
body.no-posts #gallery-section {
    display: none;
}

body:not(.no-posts) #empty-gallery {
    display: none;
}
