#flows-section {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}

#flows {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    padding-left: 0;
}

.flow {
    list-style-type: none;
    position: relative;
    height: 160px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.3s ease;
}

.flow a {
    display: block;
    width: 100%;
    height: 100%;
}

.flow a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    position: relative;
    transition: transform 0.3s ease;
}

.flow:hover a img {
    transform: translateY(-12px);
}

.flow a h3 {
    background-color: var(--color-foreground);
    margin: 0;
    padding: 24px 16px;
    position: absolute;
    right: 0;
    bottom: -1px; /* avoid bug where 1px of the image below is visible */
    left: 0;
    color: var(--color-text-primary);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.2s ease;
}

.flow:hover a h3 {
    color: var(--color-secondary);
}

/* -- gallery -- */

#gallery-section {
    max-width: var(--content-width);
    margin: 0 auto;
}

#gallery-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#posts-sorting {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

#posts-sorting span {
    cursor: pointer;
    user-select: none;
}

#posts-sorting span.selected {
    color: var(--color-secondary);
    font-weight: bold;
}

.post {
    overflow: hidden;
    background-color: var(--color-foreground);
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 8px;
    color: initial;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-height: 512px;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-info {
    padding: 8px 12px 12px 12px;
}


.post h3 {
    margin: 0 0 12px 0;
    /* show at most 2 lines of title */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-stat {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
}

.post-stat svg {
    margin-right: 4px;
    fill: var(--color-text-secondary);
}

#gallery-end {
    display: flex;
    flex-direction: column;
    color: var(--color-text-secondary);
    align-items: center;
    margin: 64px 0;
    user-select: none;
}

#gallery-end h3 {
    font-size: 16pt;
    margin: 0;
}

#gallery-end p {
    margin-top: 16px;
}

#gallery[data-current-page="0"] ~ #gallery-end {
    display: none;
}
