#post-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    column-gap: 24px;
}

#post-actions {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: sticky;
    top: calc(100vh/2 - 100px);
    height: fit-content;
    font-size: 18pt;
    text-align: center;
}

#post-actions svg {
    width: 48px;
    height: 48px;
}

#post-section {
    flex: 1;
    background-color: lightblue;
}

#post-title {
    font-size: 22pt;
    margin-bottom: 0;
}

#post-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin: 8px 0 36px 0;
    font-size: 10pt;
}

#post-stats * {
    margin: 0;
}

#media {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

#media figure {
    margin: 0;
}

#media figcaption {
    font-size: 14pt;
    margin-top: 16px;
    padding: 0 24px;
}

#post-section img {
    width: 100%;
}


#comments-section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 36px auto 0 auto;
    background-color: lightyellow;
    margin-bottom: 200px;
}

#comments-title {
    font-size: 18pt;
}

.comment-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#reply-form {
    margin-top: 16px;
    margin-left: 48px;
}

#reply-footer {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: end;
}

.comment-input {
    font-family: inherit;
    font-size: 12pt;
    resize: none;
    padding: 16px;
    border: 1px solid gray;
    border-radius: 4px;
}

.submit-comment {
    cursor: pointer;
    align-self: end;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12pt;
    border-radius: 4px;
    background-color: coral;
    padding: 8px 16px;
    width: fit-content;
}

.cancel-comment {
    cursor: pointer;
    align-self: end;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12pt;
    border-radius: 4px;
    background-color: gray;
    padding: 8px 16px;
    width: fit-content;
}

#comments-header {
    margin-top: 64px;
    padding-bottom: 8px;
    border-bottom: 2px solid lightgray;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center
}

#comments-count {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center
}

#comments-count svg {
    margin-right: 8px;
    fill: black;
}

#comments-count-value {
    margin-right: 4px;
}

#comments-sorting {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    font-size: 11pt;
}

#comments-sorting span {
    cursor: pointer;
    user-select: none;
}

#comments-sorting span.selected {
    color: coral;
}

#comments {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commenter-avatar {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

.commenter-username {
    font-weight: bold;
    margin-left: 8px;
}

.comment-info-separator {
    margin: 0 4px;
    color: gray;
}

.comment-datetime {
    color: gray;
}

.comment-footer {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    color: #777;
    font-weight: 500;
}

.comment-footer svg {
    fill: #777;
}

.comment-score {
    user-select: none;
}

.action-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

.action-upvote, .action-downvote {
    cursor: pointer;
}

.action-downvote {
    transform: rotate(180deg);
}

.action-reply {
     cursor: pointer;
}

.show-replies {
    user-select: none;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 48px;
    color: #777;
}

.comment-replies {
    margin-top: 16px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.comment-wrapper:not(.showing-replies) > .comment-replies,
.comment-wrapper:not(.showing-replies) > .comment > .show-replies > .verb-hide {
    display: none;
}

.comment-wrapper.showing-replies > .comment > .show-replies > .verb-show {
    display: none;
}
