#post-wrapper {
    display: flex;
    flex-direction: row;
    max-width: var(--content-width-narrow);
    margin: 0 auto;
    column-gap: 24px;
}

#post-actions {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: sticky;
    top: calc(100vh/2 - 100px);
    height: fit-content;
    font-size: 18pt;
    text-align: center;
}

#post-actions svg {
    width: 48px;
    height: 48px;
    fill: var(--color-text-secondary);
}

#post-section {
    flex: 1;
}

#post-title {
    font-size: 22pt;
    margin-bottom: 0;
}

#post-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin: 8px 0 36px 0;
    font-size: 10pt;
}

#post-stats * {
    margin: 0;
}

#media {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

#media figure {
    margin: 0;
}

#media figcaption {
    font-size: 14pt;
    margin-top: 16px;
    padding: 0 24px;
}

#post-section img {
    width: 100%;
}

/* -- flows -- */

#flows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 48px;
    padding-left: 0;
    margin-top: 24px;
}


.flow {
    background-color: lightgreen; /* TODO: proper coloring scheme */
    border-radius: 16px;
    min-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
}

.flow a {
    padding: 12px 24px;
}


/* -- comments -- */

#comments-section {
    display: flex;
    flex-direction: column;
    max-width: var(--content-width-narrow);
    margin: 36px auto 0 auto;
    margin-bottom: 200px;
}

#comments-title {
    font-size: 18pt;
}

.comment-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#reply-form {
    margin-top: 16px;
    margin-left: 48px;
}

#reply-footer {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: end;
}

.comment-input {
    color: var(--color-text-primary);
    font-family: inherit;
    font-size: 12pt;
    resize: none;
    padding: 16px;
    border: 1px solid var(--color-background-border);
    border-radius: 4px;
    outline: none;
}

.submit-comment {
    background-color: var(--color-secondary);
    cursor: pointer;
    align-self: end;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12pt;
    border-radius: 4px;
    padding: 8px 16px;
    width: fit-content;
}

.cancel-comment {
    cursor: pointer;
    align-self: end;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12pt;
    border-radius: 4px;
    background-color: gray;
    padding: 8px 16px;
    width: fit-content;
}

#comments-header {
    margin-top: 64px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-background-border);
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center
}

#comments-count {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center
}

#comments-count svg {
    margin-right: 8px;
    fill: var(--color-text-secondary);
}

#comments-count-value {
    margin-right: 4px;
}

#comments-sorting {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    font-size: 11pt;
}

#comments-sorting span {
    cursor: pointer;
    user-select: none;
}

#comments-sorting span.selected {
    color: var(--color-secondary);
    font-weight: bold;
}

#comments {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commenter-avatar {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

.commenter-username {
    font-weight: bold;
    margin-left: 8px;
}

.comment-info-separator {
    margin: 0 4px;
    color: var(--color-text-secondary);
}

.comment-datetime {
    color: var(--color-text-secondary);
}

.comment-content {
    overflow-wrap: break-word;
}

.comment-footer {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    color: var(--color-text-secondary);
    font-weight: 500;
}

.comment-footer svg {
    fill: var(--color-text-secondary);
}

.comment-score {
    user-select: none;
}

.action-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

.action-upvote {
    cursor: pointer;
}

.action-reply {
     cursor: pointer;
}

.show-replies {
    user-select: none;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 48px;
    color: var(--color-text-secondary);
}

.comment-replies {
    margin-top: 16px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.comment-wrapper:not(.showing-replies) > .comment-replies,
.comment-wrapper:not(.showing-replies) > .comment > .show-replies > .verb-hide {
    display: none;
}

.comment-wrapper.showing-replies > .comment > .show-replies > .verb-show {
    display: none;
}

#comments-wrapper {
    position: relative;
    min-height: 250px;
}

#empty-comments {
    text-align: center;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    color: var(--color-text-secondary);
}

#empty-comments svg {
    fill: var(--color-text-secondary);
    height: 72px;
    width: 72px;
}

#empty-comments h3 {
    font-size: 16pt;
    margin-top: 8px;
}

body.no-comments #comments-sorting {
    display: none;
}

body:not(.no-comments) #empty-comments {
    display: none;
}

#comments-view-more {
    background-color: var(--color-secondary);
    border-radius: 64px;
    margin-top: 32px;
}

#comments-view-more svg {
    fill: var(--color-foreground);
}

#comments-view-more span {
    color: var(--color-foreground);
    font-size: 12pt;
    font-weight: 500;
}

#comments[data-all-comments-fetched] ~ #comments-view-more,
#comments.loading ~ #comments-view-more {
    display: none;
}

#comments.loading ~ #comments-view-more {
    opacity: 0.7;
    pointer-events: none;
}
