#post-section {
    max-width: 800px;
    margin: 0 auto;
}

#post-title {
    font-size: 22pt;
}

#post-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 16px;
}

#media {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

#media figure {
    margin: 0;
}

#media figcaption {
    font-size: 14pt;
    margin-top: 16px;
    padding: 0 24px;
}

#post-section img {
    width: 100%;
}
