header {
    display: none;
}

#logo {
    margin: 64px 0 32px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form {
    display: flex;
    width: 320px;
    flex-direction: column;
    background-color: var(--color-foreground);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    row-gap: 24px;
    padding: 32px;
    border-radius: 16px;
}

#heading {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#heading * {
    margin: 0;
}

#fields {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#signup-form label {
    color: var(--color-text-secondary);
}

#signup-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12pt; /* same as label */
    border-radius: 4px;
    border: 1px solid var(--color-background-border);
}

#availability-message {
    opacity: 0;
    margin: 0;
    min-height: 18px;
    font-size: 11pt;
}

#availability-message[data-state="available"] {
    opacity: 1;
    color: var(--color-success);
}

#availability-message[data-state="taken"] {
    opacity: 1;
    color: var(--color-error);
}

#password-wrapper {
    position: relative;
}

#signup-form #password {
    padding-right: 42px;
}

#password-visibility-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
}

#password-visibility-toggle svg {
    fill: var(--color-text-secondary);
}

#password-visibility-toggle.visible #show {
    display: none;
}

#password-visibility-toggle:not(.visible) #hide {
    display: none;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

#login-invite {
    text-align: center;
}

#login-invite a {
    color: var(--color-primary);
}

#form-submit {
    background-color: var(--color-primary);
    color: white;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
}
