<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="/static/css/global.css">
    {% block css %} {% endblock %}
</head>
<body>
    <header>
        <div id="header-content">
            <a id="header-logo" href="/">
                <!-- TODO: proper logo -->
                <img src="/static/icons/logo-temp.svg">
            </a>

            <div id="header-search">
                <input placeholder="Search">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
            </div>

            <a id="header-upload" class="button icon-button button-new-post" href="/upload">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                </svg>
                <span>New post</span>
            </a>
        </div>
    </header>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

{% block js %} {% endblock %}
</html>
