<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="/static/css/global.css">
    {% block css %} {% endblock %}
</head>
<body>
    <header>
        <div id="header-content">
            <a id="header-logo" href="/">
                <!-- TODO: proper logo -->
                <img src="/static/icons/logo-temp.svg">
            </a>

            <form id="header-search">
                <input id="search" pattern=".*\S.*" maxlength="128" required placeholder="Search">
                <button id="search-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                    </svg>
                </button>
            </form>

            <div id="header-buttons">
                <a id="header-upload" class="button icon-button button-new-post" href="/upload">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                    </svg>
                    <span>New post</span>
                </a>

                {% if current_user.is_authenticated %}
                    <!-- TODO: verify usernames with slashes or other special characters -->
                    <a id="header-profile" href="/users/{{ current_user.name | urlencode | replace("/", "%2F") }}">
                        <!-- TODO: pull avatar -->
                        <img src="/static/img/avatar-default.jpg" alt="{{ current_user.name }}">
                    </a>
                {% else %}
                    <a id="header-login" class="button button-login" href="/login">
                        <span>Log in</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <script src="/static/js/global.js"></script>

</body>

{% block js %} {% endblock %}
</html>
