{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block js %}
    <script src="/static/js/lib/macy.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

    <section id="flows-section" class="page">
        <h2>Flows</h2>

        <ul id="flows"></ul>
    </section>


    <section id="gallery-section" class="page">
        <div id="gallery-header">
            <h2>Gallery</h2>
            <div id="posts-sorting">
                <span id="sort-newest" data-sort="newest">Newest</span>
                <span id="sort-top" data-sort="top">Top</span>
            </div>
        </div>

        <div id="gallery"></div>

        <div id="gallery-end">
            <h3>You've scrolled through it all!</h3>
            <p>Time for a coffee break.</p>
        </div>
    </section>

{% endblock %}
