{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
    <h1>imgflow</h1>

    <section id="tags-section">
        <h2>Tags</h2>

        <ul id="tags">
            <li>Games</li>
            <li>Drawing</li>
            <li>Anime</li>
            <li>Music</li>
            <li>Pets</li>
            <li>Wallpaper</li>
            <li>Scenery</li>
        </ul>
    </section>

    <section id="gallery-section">
        <h2>Gallery</h2>

        <ul id="gallery">
            <li class="post">
                <img src="/static/img/planets.png">
                <div class="post-info">
                    <h3>Hello, world</h3>
                    <div class="post-stats">
                        <div>
                            <span>⬆</span> <span>1,530</span>
                        </div>

                        <div>
                            <span>💬</span> <span>38</span>
                        </div>

                        <div>
                            <span>👁️ </span> <span>73k</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="post">
                <img src="/static/img/cat.png">
                <div class="post-info">
                    <h3>Hello, world</h3>
                    <div class="post-stats">
                        <div>
                            <span>⬆</span> <span>1,530</span>
                        </div>

                        <div>
                            <span>💬</span> <span>38</span>
                        </div>

                        <div>
                            <span>👁️ </span> <span>73k</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="post">
                <img src="/static/img/wallpaper.png">
                <div class="post-info">
                    <h3>Hello, world</h3>
                    <div class="post-stats">
                        <div>
                            <span>⬆</span> <span>1,530</span>
                        </div>

                        <div>
                            <span>💬</span> <span>38</span>
                        </div>

                        <div>
                            <span>👁️ </span> <span>73k</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="post">
                <img src="/static/img/rubiks.png">
                <div class="post-info">
                    <h3>Hello, world</h3>
                    <div class="post-stats">
                        <div>
                            <span>⬆</span> <span>1,530</span>
                        </div>

                        <div>
                            <span>💬</span> <span>38</span>
                        </div>

                        <div>
                            <span>👁️ </span> <span>73k</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="post">
                <img src="/static/img/cat.png">
                <div class="post-info">
                    <h3>Hello, world</h3>
                    <div class="post-stats">
                        <div>
                            <span>⬆</span> <span>1,530</span>
                        </div>

                        <div>
                            <span>💬</span> <span>38</span>
                        </div>

                        <div>
                            <span>👁️ </span> <span>73k</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

{% endblock %}
