{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block js %}
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
    <h1>imgflow</h1>

    <a href="/upload">New post</a>

    <section id="tags-section">
        <h2>Tags</h2>

        <ul id="tags">
            <li>Games</li>
            <li>Drawing</li>
            <li>Anime</li>
            <li>Music</li>
            <li>Pets</li>
            <li>Wallpaper</li>
            <li>Scenery</li>
        </ul>
    </section>

    <section id="gallery-section">
        <h2>Gallery</h2>

        <div id="gallery">
        </div>
    </section>

{% endblock %}
